@import 'https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/dark/main.css';

html,
main,
body,
arcgis-map,
arcgis-scene {
  background-color: var(--calcite-ui-foreground-2);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

arcgis-time-slider {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 20px;
}

#titleDiv {
  font-weight: 36;
  text-align: center;
}

.label-wrapper {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

calcite-switch {
  margin: 0 0.5rem;
}

#toggle {
  height: 28px;
  width: 28px;
  padding-left: 5px;
  padding-top: 5px;
}